<div class="row">
	<ol class="breadcrumb">
	  <li><a href="<%= root_path %>">Home</a></li>
	  <li><a href="<%= pokedexes_path %>">Pokedexes</a></li>
	  <li class="active"><%= @decorated_pokedex.name %></li>
	</ol>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">Pokedex</div>
	<div class="panel-body">
		<div class="col-sm-12 action-container">
			<a href="<%= new_pokedex_path %>" class="btn btn-primary">New</a>
			<%= @decorated_pokedex.link_to_edit %>
			<%= @decorated_pokedex.link_to_delete %>
		</div>

		<div class="col-sm-offset-1 col-sm-10 col-xs-12 col-md-offset-2 col-md-8">
			<div class="row center-block">
				<div class="col-sm-6 col-xs-12">
					<%= @decorated_pokedex.image %>	
				</div>
				
				<div class="col-sm-6 col-xs-12">
					<table align="center">
						<tr>
							<td>Name</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokedex.name %></td>
						</tr>
						<tr>
							<td>Base health point</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokedex.base_health_point %></td>
						</tr>
						<tr>
							<td>Base attack</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokedex.base_attack %></td>
						</tr>
						<tr>
							<td>Base defence</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokedex.base_defence %></td>
						</tr>
						<tr>
							<td>Base speed</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokedex.base_speed %></td>
						</tr>
						<tr>
							<td>Element type</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokedex.element_type %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>