<div class="panel panel-primary">
	<div class="panel-heading">Pokedex</div>
	<div class="panel-body">
		<div class="col-sm-12 action-container">
			<a href="<%= new_pokedex_path %>" class="btn btn-primary">New</a>
			<%= @decorated_pokedex.link_to_edit %>
			<%= @decorated_pokedex.link_to_delete %>
		</div>

		<div class="col-sm-offset-1 col-sm-10 col-xs-12 col-md-offset-2 col-md-8">
			<div class="row center-block">
				<div class="col-sm-6 col-xs-12">
					<%= @decorated_pokedex.image %>	
				</div>
				
				<div class="col-sm-6 col-xs-12">
					<table align="center">
						<tr>
							<td>Name</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokedex.name %></td>
						</tr>
						<tr>
							<td>Base health point</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokedex.base_health_point %></td>
						</tr>
						<tr>
							<td>Base attack</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokedex.base_attack %></td>
						</tr>
						<tr>
							<td>Base defence</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokedex.base_defence %></td>
						</tr>
						<tr>
							<td>Base speed</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokedex.base_speed %></td>
						</tr>
						<tr>
							<td>Element type</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokedex.element_type %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="container col-sm-12">
			<div class="row">
				<h4>Pokemons</h4>
			</div>
			<div class="row">
				<table class="table table-hover">
					<thead>
						<tr>
							<td>#</td>
							<td>Name</td>
							<td>Level</td>
						</tr>
					</thead>
					<tbody>
						<% @decorated_pokedex.pokemons.each_with_index do |pokemon, index| %>
							<tr>
								<td><%= index + 1 %></td>
								<td><%= link_to pokemon.name, pokemon_path(pokemon.id) %></td>
								<td><%= pokemon.level %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>