<% provide(:submit_text, 'Battle!') %>

<div class="row">
	<ol class="breadcrumb">
	  <li><a href="<%= root_path %>">Home</a></li>
	  <li><a href="<%= pokemon_battles_path %>">Pokemon Battles</a></li>
	  <li class="active">New</li>
	</ol>
</div>

<div class="col-sm-offset-1 col-sm-10">
	<div class="panel panel-primary">
		<div class="panel-heading">New Pokemon Battle</div>
		<div class="panel-body">
		<%= form_for @pokemon_battle do |f| %>
			<%= render 'layouts/error_message', error_object: @pokemon_battle.errors %>
			<div class="form-group col-sm-5 <%= 'has-error' if @pokemon_battle.errors.include?(:pokemon1) %>">
				<%= f.label :pokemon1_id %>
				<%= f.select :pokemon1_id, options_for_select(Pokemon.order(id: :ASC).collect{ |pokemon| [pokemon.name, pokemon.id] }), {prompt: "-- Select --"}, {class: 'form-control'} %>
				<p class="error-message"><%= @pokemon_battle.errors.messages[:pokemon1].join(' and ') %></p>
			</div>
			<div class="form-group col-sm-2 text-center">
				<%= label_tag :vs, 'VS' %>
			</div>
			<div class="form-group col-sm-5 <%= 'has-error' if @pokemon_battle.errors.include?(:pokemon2) %>">
				<%= f.label :pokemon2_id %>
				<%= f.select :pokemon2_id, options_for_select(Pokemon.order(id: :ASC).collect{ |pokemon| [pokemon.name, pokemon.id] }), {prompt: "-- Select --"}, {class: 'form-control'} %>
				<p class="error-message"><%= @pokemon_battle.errors.messages[:pokemon2].join(' and ') %></p>
			</div>
			<%= f.hidden_field :state, value: PokemonBattle::ONGOING_STATE %>
			<%= f.hidden_field :current_turn, value: 1 %>
			<%= f.submit yield(:submit_text), class: 'btn btn-primary center-block' %>
		<% end %>
		</div>
	</div>
</div>