<div class="panel panel-primary">
	<div class="panel-heading">Pokedex</div>
	<div class="panel-body">
		<div class="col-xs-12">
			<div class="col-sm-5">
				<h3 class="text-center"><%= @decorated_pokemon_battle.pokemon1.link_to_show %></h3>
			</div>

			<div class="col-sm-2">
				<h3 class="text-center">VS</h3>
				<h5 class="text-center"><%= @decorated_pokemon_battle.state %></h5>
			</div>

			<div class="col-sm-5">
				<h3 class="text-center"><%= @decorated_pokemon_battle.pokemon2.link_to_show %></h3>	
			</div>
		</div>

		<div class="col-xs-12">
			<div class="col-sm-5">
				<div class="col-xs-12 img-container">
					<%= @decorated_pokemon_battle.pokemon1.image %>	
				</div>
				
				<div class="col-xs-12 pokemon-details">
					<table align="center">
						<tr>
							<td>Level</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon_battle.pokemon1.level %></td>
						</tr>
						<tr>
							<td>Health point</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon_battle.pokemon1.current_health_point %></td>
						</tr>
						<tr>
							<td>Attack</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon_battle.pokemon1.attack %></td>
						</tr>
						<tr>
							<td>Defence</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon_battle.pokemon1.defence %></td>
						</tr>
						<tr>
							<td>Speed</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon_battle.pokemon1.speed %></td>
						</tr>
						<tr>
							<td>Current experience</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon_battle.pokemon1.current_experience %></td>
						</tr>
					</table>
				</div>

				<% if @decorated_pokemon_battle.state == 'ongoing' && @decorated_pokemon_battle.current_turn.odd? %>
					<div class="col-xs-12 action">
						<%= form_tag(pokemons_battle_action_path(@decorated_pokemon_battle.id), enforce_utf8: false) do %>
							<%= render 'layouts/error_message', error_object: @pokemon_battle_log.errors %>
							<div class="form-group <%= 'has-error' if @pokemon_battle_log.errors.include?(:skill_id) %>">
								<%= label_tag :attack_skill %>
								<%= select_tag :attack_skill, options_for_select(PokemonSkill.where(pokemon_id: @decorated_pokemon_battle.pokemon1.id).collect{ |pokemon_skill| [pokemon_skill.skill.name, pokemon_skill.skill.id] }, "-- Select --"), { prompt: '-- Select --', class: 'form-control'} %>
								<p class="error-message"><%= @pokemon_battle_log.errors.messages[:skill_id].join(' and ') %></p>
							</div>
							<%= hidden_field_tag :attacker_id, @decorated_pokemon_battle.pokemon1.id %>
							<%= hidden_field_tag :defender_id, @decorated_pokemon_battle.pokemon2.id %>
							<%= submit_tag :Attack, class: 'btn btn-primary' %>
							<%= submit_tag :Surrender, class: 'btn btn-primary' %>
						<% end %>
					</div>
				<% end %>
			</div>

			<div class="col-sm-2">
			</div>

			<div class="col-sm-5">
				<div class="col-xs-12 img-container">
					<%= @decorated_pokemon_battle.pokemon2.image %>	
				</div>
				
				<div class="col-xs-12 pokemon-details">
					<table align="center">
						<tr>
							<td>Level</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon_battle.pokemon2.level %></td>
						</tr>
						<tr>
							<td>Health point</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon_battle.pokemon2.current_health_point %></td>
						</tr>
						<tr>
							<td>Attack</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon_battle.pokemon2.attack %></td>
						</tr>
						<tr>
							<td>Defence</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon_battle.pokemon2.defence %></td>
						</tr>
						<tr>
							<td>Speed</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon_battle.pokemon2.speed %></td>
						</tr>
						<tr>
							<td>Current experience</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon_battle.pokemon2.current_experience %></td>
						</tr>
					</table>
				</div>

				<% if @decorated_pokemon_battle.state == 'ongoing' && !@decorated_pokemon_battle.current_turn.odd? %>
					<div class="col-xs-12 action">
						<%= form_tag(pokemons_battle_action_path(@decorated_pokemon_battle.id), enforce_utf8: false) do %>
							<%= render 'layouts/error_message', error_object: @pokemon_battle_log.errors %>
							<div class="form-group <%= 'has-error' if @pokemon_battle_log.errors.include?(:skill_id) %>">
								<%= label_tag :attack_skill %>
								<%= select_tag :attack_skill, options_for_select(PokemonSkill.where(pokemon_id: @decorated_pokemon_battle.pokemon2.id).collect{ |pokemon_skill| [pokemon_skill.skill.name, pokemon_skill.skill.id] }, "-- Select --"), { prompt: '-- Select --', class: 'form-control'} %>
								<p class="error-message"><%= @pokemon_battle_log.errors.messages[:skill_id].join(' and ') %></p>
							</div>
							<%= hidden_field_tag :attacker_id, @decorated_pokemon_battle.pokemon2.id %>
							<%= hidden_field_tag :defender_id, @decorated_pokemon_battle.pokemon1.id %>
							<%= submit_tag :Attack, class: 'btn btn-primary' %>
							<%= submit_tag :Surrender, class: 'btn btn-primary' %>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>