<div class="panel-body">
	<div class="col-sm-offset-2 col-sm-8">
		<%= form_for @pokemon do |f| %>
			<%= render 'layouts/error_message', error_object: @pokemon.errors %>
			<%= f.hidden_field :pokedex_id, value: @pokemon.pokedex.id %>
			<div class="form-group">
				<%= label_tag :pokedex %>
				<div>
					<%= label_tag :pokedex_name, "#{@pokemon.pokedex.name}" %>
				</div>
			</div>
			<div class="form-group">
			</div>
			<div class="form-group <%= 'has-error' if @pokemon.errors.include?(:name) %>">
				<%= f.label :name %>
	    	<%= f.text_field :name, class: 'form-control' %>
				<p class="error-message"><%= @pokemon.errors.messages[:name].join(' and ') %></p>
			</div>
			<div class="form-group <%= 'has-error' if @pokemon.errors.include?(:level) %>">
				<%= f.label :level %>
	    	<%= f.text_field :level, class: 'form-control' %>
	    	<p class="error-message"><%= @pokemon.errors.messages[:level].join(' and ') %></p>
			</div>
			<div class="form-group <%= 'has-error' if @pokemon.errors.include?(:current_health_point) %>">
				<%= f.label :current_health_point %>
	    	<%= f.text_field :current_health_point, class: 'form-control' %>
	    	<p class="error-message"><%= @pokemon.errors.messages[:current_health_point].join(' and ') %></p>
			</div>
			<div class="form-group <%= 'has-error' if @pokemon.errors.include?(:max_health_point) %>">
				<%= f.label :max_health_point %>
	    	<%= f.text_field :max_health_point, class: 'form-control' %>
	    	<p class="error-message"><%= @pokemon.errors.messages[:max_health_point].join(' and ') %></p>
			</div>
			<div class="form-group <%= 'has-error' if @pokemon.errors.include?(:attack) %>">
				<%= f.label :attack %>
	    	<%= f.text_field :attack, class: 'form-control' %>
	    	<p class="error-message"><%= @pokemon.errors.messages[:attack].join(' and ') %></p>
			</div>
			<div class="form-group <%= 'has-error' if @pokemon.errors.include?(:defence) %>">
				<%= f.label :defence %>
	    	<%= f.text_field :defence, class: 'form-control' %>
	    	<p class="error-message"><%= @pokemon.errors.messages[:defence].join(' and ') %></p>
			</div>
			<div class="form-group <%= 'has-error' if @pokemon.errors.include?(:speed) %>">
				<%= f.label :speed %>
	    	<%= f.text_field :speed, class: 'form-control' %>
	    	<p class="error-message"><%= @pokemon.errors.messages[:speed].join(' and ') %></p>
			</div>
			<div class="form-group <%= 'has-error' if @pokemon.errors.include?(:current_experience) %>">
				<%= f.label :current_experience %>
	    	<%= f.text_field :current_experience, class: 'form-control' %>
	    	<p class="error-message"><%= @pokemon.errors.messages[:pokedex_id].join(' and ') %></p>
			</div>
			<%= f.submit yield(:submit_text), class: 'btn btn-primary center-block' %>
		<% end %>
	</div>
</div>