<div class="row">
	<ol class="breadcrumb">
	  <li><a href="<%= root_path %>">Home</a></li>
	  <li><a href="<%= pokemons_path %>">Pokemons</a></li>
	  <li class="active">New</li>
	</ol>
</div>

<div class="col-sm-offset-4 col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">New Pokemon</div>
		<div class="panel-body">
			<%= form_tag(pokemons_new_details_path, method: 'get', enforce_utf8: false) do %>
				<div class="form-group">
					<%= label_tag :Pokedex %>
					<%= select_tag :q, options_for_select(Pokedex.all.collect{ |pokedex| [pokedex.name, pokedex.id] }, "-- Select --"), { prompt: '-- Select --', class: 'form-control', required: true} %>
				</div>
				<%= submit_tag :submit, class: 'btn btn-primary' %>
			<% end %>
		</div>
	</div>
</div>