<div class="panel panel-primary">
	<div class="panel-heading">Pokemon</div>
	<div class="panel-body">
		<div class="col-sm-12 action-container">
			<a href="<%= new_pokemon_path %>" class="btn btn-primary">New</a>
			<%= @decorated_pokemon.link_to_heal if @decorated_pokemon.not_in_battle %>
			<%= @decorated_pokemon.link_to_edit if @decorated_pokemon.not_in_battle %>
			<%= @decorated_pokemon.link_to_delete %>
		</div>

		<div class="col-sm-offset-1 col-sm-10 col-xs-12 col-md-offset-2 col-md-8">
			<div class="row center-block">
				<div class="col-sm-6 col-xs-12">
					<%= @decorated_pokemon.image %>	
				</div>

				<div class="col-sm-6 col-xs-12">
					<table align="center">
						<tr>
							<td>Name</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon.name %></td>
						</tr>
						<tr>
							<td>Level</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon.level %></td>
						</tr>
						<tr>
							<td>Health point</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon.current_health_point %></td>
						</tr>
						<tr>
							<td>Attack</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon.attack %></td>
						</tr>
						<tr>
							<td>Defence</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon.defence %></td>
						</tr>
						<tr>
							<td>Speed</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon.speed %></td>
						</tr>
						<tr>
							<td>Current experience</td>
							<td>&nbsp;:&nbsp;</td>
							<td><%= @decorated_pokemon.current_experience %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>


		<div class="container col-sm-12">
			<div class="row">
				<h4>Skills</h4>
			</div>
			<div class="row">
				<table class="table table-hover">
					<thead>
						<tr>
							<td>Name</td>
							<td>Current PP</td>
							<% if @decorated_pokemon.not_in_battle %>
								<td align="right">Action</td>
							<% end %>
						</tr>
					</thead>
					<tbody>
						<% @decorated_pokemon.pokemon_skills.each do |pokemon_skill| %>
							<tr>
								<td><%= pokemon_skill.skill.name %></td>
								<td><%= pokemon_skill.current_pp %></td>
								<% if @decorated_pokemon.not_in_battle %>
									<td align="right"><%= link_to 'Remove', pokemon_remove_skill_path(@decorated_pokemon.id, pokemon_skill.id),
										method: :post, 
										data: { confirm: "Are you sure to remove #{pokemon_skill.skill.name}?"}, class: 'btn btn-danger' %></td>
								<% end %>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>

		<% if @decorated_pokemon.not_in_battle %>
			<div class="container col-sm-12">
				<h4>Add New Skill</h4>
				<%= form_for @pokemon_skill, url: pokemon_add_skill_path(@decorated_pokemon.id) do |f| %>
					<%= render 'layouts/error_message', error_object: @pokemon_skill.errors %>
					<div class="col-sm-6 form-group <%= 'has-error' if @pokemon_skill.errors.include?(:skill_id) %>">
						<%= f.label :skill_id %>
						<%= f.select :skill_id, options_for_select(Skill.all.collect{ |skill| [skill.name, skill.id] }), { prompt: '-- Select --'}, {class: 'form-control'} %>
			    	<p class="error-message"><%= @pokemon_skill.errors.messages[:skill_id].join(' and ') %></p>
					</div>
					<div class="col-sm-6 form-group <%= 'has-error' if @pokemon_skill.errors.include?(:current_pp) %>">
						<%= f.label :current_pp %>
						<%= f.text_field :current_pp, class: 'form-control' %>
			    	<p class="error-message"><%= @pokemon_skill.errors.messages[:current_pp].join(' and ') %></p>
					</div>
					<div class="col-sm-12 form-group">
						<%= f.submit :submit, class: 'btn btn-primary' %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>