<div>
	<img src="https://img.pokemondb.net/artwork/jirachi.jpg" class="center-block">
	<h2 class="text-center">Welcome to Pokemon Rainbow</h2>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-primary">
    	<div class="panel-heading">
    		<a data-toggle="collapse" href="#collapse_top_ten_pokemon_winner">Top Ten Pokemon Winner</a>
    	</div>
    	<div id="collapse_top_ten_pokemon_winner" class="panel-collapse">
    		<div class="panel-body">
    			<div id="top_ten_pokemon_winner"></div>
    		</div>
    	</div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-primary">
    	<div class="panel-heading">
        <a data-toggle="collapse" href="#collapse_top_ten_pokemon_loser">Top Ten Pokemon Loser</a>
      </div>
      <div id="collapse_top_ten_pokemon_loser" class="panel-collapse">
        <div class="panel-body">
          <div id="top_ten_pokemon_loser"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse_top_ten_pokemon_surrender">Top Ten Pokemon Surrender</a>
      </div>
      <div id="collapse_top_ten_pokemon_surrender" class="panel-collapse">
        <div class="panel-body">
          <div id="top_ten_pokemon_surrender"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-primary">
    	<div class="panel-heading">
        <a data-toggle="collapse" href="#collapse_top_ten_pokemon_win_rate">Top Ten Pokemon Win Rate</a>
      </div>
      <div id="collapse_top_ten_pokemon_win_rate" class="panel-collapse">
        <div class="panel-body">
          <div id="top_ten_pokemon_win_rate"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-primary">
    	<div class="panel-heading">
        <a data-toggle="collapse" href="#collapse_top_ten_pokemon_lose_rate">Top Ten Pokemon lose Rate</a>
      </div>
      <div id="collapse_top_ten_pokemon_lose_rate" class="panel-collapse">
        <div class="panel-body">
          <div id="top_ten_pokemon_lose_rate"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-primary">
    	<div class="panel-heading">
        <a data-toggle="collapse" href="#collapse_top_ten_pokemon_used_in_battle">Top Ten Pokemon Used in Battle</a>
      </div>
      <div id="collapse_top_ten_pokemon_used_in_battle" class="panel-collapse">
        <div class="panel-body">
          <div id="top_ten_pokemon_used_in_battle"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-primary">
    	<div class="panel-heading">
        <a data-toggle="collapse" href="#collapse_top_ten_skill_used_in_battle">Top Ten Skill Used in Battle</a>
      </div>
      <div id="collapse_top_ten_skill_used_in_battle" class="panel-collapse">
        <div class="panel-body">
          <div id="top_ten_skill_used_in_battle"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-primary">
    	<div class="panel-heading">
        <a data-toggle="collapse" href="#collapse_top_ten_pokemon_with_biggest_total_damage">Top Ten Pokemon With Biggest Total Damage</a>
      </div>
      <div id="collapse_top_ten_pokemon_with_biggest_total_damage" class="panel-collapse">
        <div class="panel-body">
          <div id="top_ten_pokemon_with_biggest_total_damage"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-primary">
    	<div class="panel-heading">
        <a data-toggle="collapse" href="#collapse_top_ten_pokedex_average_level">Top Ten Pokedex Average Level</a>
      </div>
      <div id="collapse_top_ten_pokedex_average_level" class="panel-collapse">
        <div class="panel-body">
          <div id="top_ten_pokedex_average_level"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(function () { 
    var myChart = Highcharts.chart('top_ten_pokemon_winner', {
      chart: {
        type: 'column'
      },
      xAxis: {
        categories: ['Pokemons']
      },
      yAxis: {
        title: {
          text: 'Win Count'
        }
      },
      series: <%= raw @top_ten_pokemon_winner.to_json %>
    });
  });
	$(function () { 
    var myChart = Highcharts.chart('top_ten_pokemon_loser', {
      chart: {
        type: 'column'
      },
      xAxis: {
        categories: ['Pokemons']
      },
      yAxis: {
        title: {
          text: 'Lose Count'
        }
      },
      series: <%= raw @top_ten_pokemon_loser.to_json %>
    });
  });
	$(function () { 
    var myChart = Highcharts.chart('top_ten_pokemon_surrender', {
      chart: {
        type: 'bar'
      },
      xAxis: {
        categories: ['Pokemons']
      },
      yAxis: {
        title: {
          text: 'Surrender Count'
        }
      },
      series: <%= raw @top_ten_pokemon_surrender.to_json %>
    });
  });
	$(function () { 
    var myChart = Highcharts.chart('top_ten_pokemon_win_rate', {
      chart: {
        type: 'bar'
      },
      xAxis: {
        categories: ['Pokemons']
      },
      yAxis: {
        title: {
          text: 'Win Rate (%)'
        }
      },
      series: <%= raw @top_ten_pokemon_win_rate.to_json %>
    });
  });
	$(function () { 
    var myChart = Highcharts.chart('top_ten_pokemon_lose_rate', {
      chart: {
        type: 'bar'
      },
      xAxis: {
        categories: ['Pokemons']
      },
      yAxis: {
        title: {
          text: 'Lose Rate (%)'
        }
      },
      series: <%= raw @top_ten_pokemon_lose_rate.to_json %>
    });
  });
	$(function () { 
    var myChart = Highcharts.chart('top_ten_pokemon_used_in_battle', {
      chart: {
        type: 'column'
      },
      xAxis: {
        categories: ['Pokemons']
      },
      yAxis: {
        title: {
          text: 'Battle Count'
        }
      },
      series: <%= raw @top_ten_pokemon_used_in_battle.to_json %>
    });
  });
	$(function () { 
    var myChart = Highcharts.chart('top_ten_skill_used_in_battle', {
      chart: {
        type: 'column'
      },
      xAxis: {
        categories: ['Skills']
      },
      yAxis: {
        title: {
          text: 'Use Count'
        }
      },
      series: <%= raw @top_ten_skill_used_in_battle.to_json %>
    });
  });
	$(function () { 
    var myChart = Highcharts.chart('top_ten_pokemon_with_biggest_total_damage', {
      chart: {
        type: 'bar'
      },
      xAxis: {
        categories: ['Pokemons']
      },
      yAxis: {
        title: {
          text: 'Total Damage'
        }
      },
      series: <%= raw @top_ten_pokemon_with_biggest_total_damage.to_json %>
    });
  });
	$(function () { 
    var myChart = Highcharts.chart('top_ten_pokedex_average_level', {
      chart: {
        type: 'bar'
      },
      xAxis: {
        categories: ['Pokedexes']
      },
      yAxis: {
        title: {
          text: 'Average Level'
        }
      },
      series: <%= raw @top_ten_pokedex_average_level.to_json %>
    });
  });
</script>