<div class="row">
	<ol class="breadcrumb">
	  <li><a href="<%= root_path %>">Home</a></li>
	  <li class="active">Trainers</li>
	</ol>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">Trainers</div>
	<div class="panel-body">
		<div class="action-container">
			<a href="<%= new_trainer_path %>" class="btn btn-primary">New</a>
		</div>
		<div class="col-xs-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<td>#</td>
						<td>Name</td>
						<td>Email</td>
					</tr>
				</thead>
				<tbody>
					<%	if params[:page].to_i > 0 
								@current_page = (params[:page].to_i - 1) * 10
							else
								@current_page = params[:page].to_i * 10
							end
					%>
					<% @decorated_trainers.each_with_index do |trainer, index| %>
						<tr>
							<td><%= @current_page + index + 1 %></td>
							<td><%= trainer.link_to_show %></td>
							<td><%= trainer.email %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div class="text-center">
				<%= will_paginate @pagination_trainers %>
			</div>
		</div>
	</div>
</div>