<!DOCTYPE html>
<html>
  <head>
    <title>PokemonRainbow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= javascript_include_tag 'application' %>
  	<%= render 'layouts/header' %>
    <div class="container">
  		<%= render 'layouts/flash' %>
  		<div class="row">
        <div class="breadcrumb">
          <%= render_breadcrumbs :separator => ' / ' %>
        </div>
	  		<%= yield %>
  		</div>
  	</div>
  	<%= render 'layouts/footer' %>
  </body>
</html>
